body {    width: 496px;
    height: 1034px;
    margin-top: 3px;
}

.fieldContainer {
    display: block;
    height: 25px;
    float: left;
    width: 409px;
}

.labelContainer {
    float: left;
    margin: 0;
}

.inputContainer {
    float: right;
}

#formContainer {
    width: 472px;
    height: 812px;
}

.paddingDiv {
    height: 5px;
}

.submissionControls {
    float: left;
    width: 100px;
}
